@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner video seciton */
.banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

/* progress bar on consult section */
.progress-container {
  /* border: 1px solid red; */
  height: 280px;
  position: relative;
  /* width: 450px; */
}

.progress-line {
  border-left: 2px dotted #fff;
  height: 100%;
  position: absolute;
  left: 16px;
  top: 0;
  z-index: 0;
}

.progress-step {
  /* border: 1px solid blue; */
  z-index: 1;
  position: absolute;
  /* width: 450px; */
  display: flex;
  gap: 1rem;
}

.progress-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color:black;
}

.progress-title {
  /* border: 1px solid black; */
  max-width: 380px;
  width: 100%;
}
